<%= form_with model: article do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %><br/>
    <% article.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <p>
    <%= f.label :body %><br/>
    <%= f.text_field :body %><br/>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </p>

  <div>
    <%= f.label :status %><br>
    <%= f.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <p>
    <%= f.submit %><br/>
  </p>
<% end %>