<%= form_with model: article, class: "form-container" do |f| %>
  <div>
    <%= f.label :name %><br/>
    <%= f.text_field :name %><br/>
    <% article.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :body %><br/>
    <%= f.rich_text_area :body %><br/>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= f.label :status %><br>
    <%= f.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <div>
    <%= f.submit class: "create-btn" %><br/>
  </div>
<% end %>