<div class="top-container">
  <div class="title"> <%= @article.name %> </div>
  <div>
    <button class="edit-btn"><%= link_to "Edit", edit_article_path(@article) %></button>
    <button class="delete-btn"><%= link_to "Delete", article_path(@article),
                method: :delete,
                data: { confirm: "Are you sure?" } %></button>
  </div>
</div>

<% if @article.created_at == @article.updated_at %>
  <div class="timestamp">Published: <%= @article.created_at.strftime('%-I:%M %p %d %B %Y') %></div>
<% else %>
  <div class="timestamp">
    <p>Published: <%= @article.created_at.strftime('%-I:%M %p %d %B %Y')  %></p>
    <p>Updated: <%= @article.updated_at.strftime('%-I:%M %p %d %B %Y')  %></p>
  </div>
<% end %>

<div class="article-body"><%= @article.body %></div>

<h2>Comments</h2>
<% if @article.comments.present? %>
  <%= render @article.comments %>
<% else %>
  <div><em>There are no Comments on this article.</em></div>
<% end %>



<h2>Add a comment:</h2>
<%= render 'comments/form' %>